{% load crispy_forms_tags %}
<div class="modal hide" id="contactModal">
    <form class="well" method="post">
        <div class="modal-header">
            <h3 class="h1 xx-large">
                Add your comment:
            </h3>
            <button type="button" class="close" data-dismiss="modal"> 
            <i class="fa-2x fas fa-times-circle"></i>
            </button>
        </div>
        <div class="modal-body">
            {% csrf_token %}
            <h1> {{ form|crispy }} </h1>
            <script type="text/javascript">
                var textarea = document.querySelector("textarea");
                
                textarea.addEventListener("input", function(){
                    var maxlength = 500;
                    var currentLength = this.value.length;
                
                    if( currentLength >= maxlength ){
                        document.getElementById("remainingCount1").innerHTML = "You have reached the maximum number of characters.";
                    } else{
                        document.getElementById("remainingCount1").innerHTML = maxlength - currentLength + " chars left";
                    }
                
                });
            </script> 
            <span id="remainingCount1" style="font-size: x-large;">500 chars left </span>    
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-success btn-block " value="Submit">
        </div>
    </form>
</div>

