{% extends 'accounts/base.html' %}
{% load static %}

{% block title %} Export {% endblock %}

{% block head%}
<link href="{% static 'exporting/styles/export.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="d-flex horizontally_centered" >
    <div class="container animated zoomInUp slow">
        <h1 class="text-center title"> Export your events as: </h1>
        <br> <br>
        <div class="d-flex justify-content-center btn-group-vertical">
		        <a href="/events/export/csv" class="button btn btn-secondary btn-lg btn-block">
	                <h2>
	                    CSV
	                </h2>
		        </a> <br>
		        <a href="/events/export/json" class="button btn btn-primary btn-lg btn-block" >
	                <h2>
	                    JSON
	                </h2>
		        </a>
        </div>
        <br>
    </div>
</div>
{% endblock %}

