{% extends 'accounts/base.html' %}
{% block title %} Change ticket {% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block head%}
<link href="{% static 'styles/edit_task.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<br>
<h1 class="h1"> Edit task: </h1>
<div class="row">
<div class="col-md-3"> </div>
<div class="  col-md-6 center-block justify-content-center align-items-center ">
<form class="well" method="post">
    {% csrf_token %}
    <h3> {{ task_form|crispy }} </h3>
    <br>
    <h1 class="h1">
    	<input type="submit" class="btn btn-success btn-block" value="Save Changes">
    </h1>
</form>
</div>
<div class="col-md-3"> </div>
</div>
<br>
{% endblock %}

