<div class="card simple">
    <img src="
        {% if details.profile_picture %}
        {{details.profile_picture.url}}
        {% else%}
        https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Default_profile_picture_%28male%29_on_Facebook.jpg/600px-Default_profile_picture_%28male%29_on_Facebook.jpg
        {% endif %} " alt="profile picture">
    <h2> {{name}} </h2>
    <h4> <i class="fa fa-user-circle" aria-hidden="true"></i> {{username}} </h4>
    {% if email %}
    <h4> <i class="fa fa-envelope" aria-hidden="true"></i> {{email}} </h4>
    {% endif %}
    {% if details.birth_date %}
        <h4> <i class="fa fa-birthday-cake" aria-hidden="true"></i> Born on: {{details.birth_date}}  </h4>
    {% endif %}
    <h4> {{details.description}} </h4>
</div>

