{% extends 'accounts/base.html' %}

{% load static %}

{% block title %} Event Stats {% endblock %}
{% block head %}
<style type="text/css">
	.title{
		text-align: center;
	}
</style>
{% endblock %}

{% block content %}
	<br>
	<h1 class="h1 animated fadeInLeftBig title"> Stats: </h1>

	{% if comments_chart %}
		<div style="width:600;height:500" class="animated fadeInUp slow">
		{{ comments_chart|safe }}
		</div>
	{% endif %}
	<br>
	{% if invites_chart %}
		<div style="width:600;height:500" class="animated fadeInUp slow delay-1s">
		{{ invites_chart|safe }}
		</div>
	{% endif %}
	<br> <br>
{% endblock %}

