.btn{
	font-size: x-large;
	padding: 10px !important;
}

.btn-success{
	margin: 0;
}

#sad_face{
	object-fit: scale-down;
	width: 100%;
	max-width: 100% !important;
	height: 30% !important;
}

#cover{
	max-width: 100%;
}

.title{
	text-align: center;
}
