.btn-primary{
	width: 100%;
	margin-bottom: 4%
}

.display-3{
	text-align: center;
	padding-top: 2%;
}

input{
	width: 47%;
}

.left_input{
	margin-left: 2%;margin-right: 2%;
}
.centered{
	padding-bottom: 3vw;
}

select{
	height: 6% !important;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 25px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}