
{% extends 'accounts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<br>
<h1 class="h1 display-3" style="text-align: center;"> Edit comment: </h1>
<form class="well" method="post" style="margin:5%;">
    {% csrf_token %}
    <h1> {{ form|crispy }} </h1>
    <script type="text/javascript">
        var textarea = document.querySelector("textarea");

        textarea.addEventListener("input", function(){
        var maxlength = 500;
        var currentLength = this.value.length;

        if( currentLength >= maxlength ){
            document.getElementById("remainingCount1").innerHTML = "You have reached the maximum number of characters.";
        } else{
            document.getElementById("remainingCount1").innerHTML = maxlength - currentLength + " chars left";
        }

        });
    </script> 
    <span id="remainingCount1"> <h2> 500 chars left </h2> </span>    

    <input type="submit" class="btn btn-success btn-block display-3" value="Submit">
  
</form>

{% endblock %}





