{% extends 'accounts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Edit comment {% endblock %}

{% block content %}
<br>
<h1 class="h1" style="text-align: center;"> Edit comment: </h1>
<form class="well margin-5" method="post">
    {% csrf_token %}
    <h3> {{ form|crispy }} </h3>
    <script type="text/javascript" src="{% static 'scripts/comment_countdown.js' %}"></script>
    <h3> <span id="remainingCount1">  500 chars left  </span>  </h3>

    <h3> <input type="submit" class="btn btn-success btn-block large-form-button" value="Submit"> </h3>
</form>
<br> <br>
{% endblock %}
