{% extends 'accounts/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %} Event Board {% endblock %}
{% block head %}
<style type="text/css">
    .col-sm-3{
        margin-left: 6%;
        text-align: center;
        color: white;
        /*opacity: 0.8;*/
    }

    .heading{
        padding: 5%;
    }

    hr{
        border-top: 10px solid #ccc;
    }   

    i{
        float: right;
    }

    textarea{
        height: 30% !important;
    }

    select{
        height: 8% !important;
    }

    a i {
        color: white;
    }

    .row{
        padding-bottom: 10%;
    }

</style>
<link href="{% static "events/event.css" %}" rel="stylesheet">

{% endblock %}

{% block content %}
<br>
{% include "events/partials/add_task_modal.html" with task_form=task_form %}
  <div class="row">
    <div class="col-sm-3 bg-warning"> 
        <h1 class="heading"> TO DO: <a  data-toggle="modal" href="#add_task"> <i class="fas fa-plus"></i> </a> <hr> </h1>

        {% for task in todo_tickets %}
            {% include "events/partials/task_partial.html" with task=task %}
        {% endfor%}
    </div>

    <div class="col-sm-3 bg-success">
        <h1 class="heading"> DONE: <a  data-toggle="modal" href="#add_task"> <i class="fas fa-plus"></i> </a> <hr>  </h1> 

        {% for task in done_tickets %}
            {% include "events/partials/task_partial.html" with task=task %}
        {% endfor%}

    </div>
    <div class="col-sm-3 bg-primary">
        <h1 class="heading"> DOING: <a  data-toggle="modal" href="#add_task"> <i class="fas fa-plus"></i> </a> <hr> </h1>  

        {% for task in doing_tickets %}
            {% include "events/partials/task_partial.html" with task=task %}
        {% endfor%}
    </div>
  </div>

  {{todo_tickets}}
{% endblock %}

