{% extends 'accounts/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %} Event Board {% endblock %}
{% block head %}

<link href="{% static 'events/event.css' %}" rel="stylesheet">
<link href="{% static 'events/board.css' %}" rel="stylesheet">


{% endblock %}

{% block content %}
{% include "events/partials/add_task_modal.html" with task_form=task_form %}
  <div class="row">
    <div class="col-sm-3 bg-warning">
        <h2 class="heading"> TO DO: <a  data-toggle="modal" href="#add_task"> <i class="fas fa-plus"></i> </a> <hr> </h2>

        {% for task in todo_tickets %}
            {% include "events/partials/task_partial.html" with task=task %}
        {% endfor%}
    </div>


    <div class="col-sm-3 bg-primary">
        <h2 class="heading"> DOING: <a  data-toggle="modal" href="#add_task"> <i class="fas fa-plus"></i> </a> <hr> </h2>

        {% for task in doing_tickets %}
            {% include "events/partials/task_partial.html" with task=task %}
        {% endfor%}
    </div>

    <div class="col-sm-3 bg-success">
        <h2 class="heading"> DONE: <a  data-toggle="modal" href="#add_task"> <i class="fas fa-plus"></i> </a> <hr>  </h2>

        {% for task in done_tickets %}
            {% include "events/partials/task_partial.html" with task=task %}
        {% endfor%}
    </div>
  </div>

{% endblock %}

