{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}
    {% if editing %}
        Edit {{ starts }}
    {% else %}
        Create
    {% endif%}
    event
{% endblock %}

{% block head %}
<link href="{% static 'events/create_event.css' %}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<br>
<h1 class="text-center">
    {% if editing %}
        Edit {{ starts }}
    {% else %}
        Create
    {% endif%}  event:
</h1>

<div class="col-md-8 offset-md-2 centered">
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="upload-btn-wrapper">
          <button class="btn btn-block" id="cover_button"> Add cover photo</button>
          <h3> <input type="file" name="cover_image" accept="image/*" id="id_cover_image"> </h3>
          <img id="preview" src="" />
        </div>

         <h3> {{form|crispy}} </h3>
        <br>
        <h3> <b> Categories: </b></h3>
        <select id="category" class="form-control form-control-lg" name="category_select" multiple>
            {% for category in categories %}
            <h3>
                <option  value="{{ category.name }}" name="{{ category.name }}">{{ category.name }}</option>
            </h3>
            {% endfor %}
        </select>
        <br> <br>
        <div class="container">
			<div class="row">
				<div class="col-sm">
					<h3>
						<b> Start time: </b>
						<div class="start_h alert alert-danger hidden"> </div>
					</h3>
					<div class="row">
						<div class="input-group col-sm">
						  <div class="input-group-prepend">
						    <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar" aria-hidden="true"></i></span>
						  </div>
						  <input  class="form-control" type="date" id="starts_at" name="starts_at" value="{{starts_date}}">
						</div>

						<div class="col-sm">
							<input type="time" id="starts_at_time" name="starts_at_time" value="{{starts_time}}">
						</div>
					</div>
				</div>

				<div class="col-sm">
					<h3>
						<b> End time: </b>
						<div class="end_h alert alert-danger hidden"> </div>
					</h3>
					<div class="row">
						<div class="input-group col-sm">
						  <div class="input-group-prepend">
						    <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar" aria-hidden="true"></i></span>
						  </div>
						  <input type="date" id="ends_at" class="form-control border" name="ends_at" value="{{ends_date}}">
						</div>

						<div class="col-sm">
						 <input type="time" id="ends_at_time" class="taskDate" name="ends_at_time" value="{{ends_time}}">
						</div>
					</div>
				</div>
			</div>
		</div>

       <script>
           $('#starts_at_time').timepicker({
               uiLibrary: 'bootstrap4'
           });

           $('#ends_at_time').timepicker({
               uiLibrary: 'bootstrap4'
           });
       </script>
        <br> <br>
        <button class="btn btn-primary btn-lg"  type="submit">
            {% if editing %}
              <h3> Edit event </h3>
            {% else %}
              <h3> Create event </h3>
            {% endif%}
        </button>
    </form>
</div>
<br> <br>
<script type="text/javascript" src="{% static 'scripts/textarea_rows.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/preview_image.js'%}"></script>
<script type="text/javascript" src="{% static 'scripts/validate_event_date.js'%}"></script>
<script type="text/javascript" src="http://weareoutman.github.io/clockpicker/distjquery-clockpicker.min.js"></script>

{% endblock %}

