{% extends 'accounts/base.html' %}

{% load crispy_forms_tags %}

{% include "accounts/partials/messages_partial.html" with messages=messages %}

{% load static %}

{% block title %} {{event.title}} {% endblock %}

{% block head %}
<link href="{% static "events/event.css" %}" rel="stylesheet">
<style type="text/css">
    .bg {
    {% if event.cover_image %}
        background-image: url( "{{ event.cover_image.url }}" );
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    {% endif %}
    }
</style>
{% endblock %}
{% block content %}
<div class="bg">
    <div class="display-1 edit_delete row">

    <div class="col-xs-6 col-md-10">
        {{event.title}}
    </div>

    <div class="col-xs-6 col-md-2" >
        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle custom-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false" style="font-size: xx-large;"  >
            Edit event
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% if request.user == event.added_by %}
                <a class="dropdown-item btn-primary large-text" onclick="location.href=window.location.href  + '/delete'" type="button"> delete event</a>
                <a class="dropdown-item btn-primary large-text"  onclick="location.href=window.location.href  + '/edit'" type="button"> edit event</a>
                <a class="dropdown-item btn-primary large-text" onclick="location.href=window.location.href  + '/edit'" type="button"> add team </a>
                {% endif %}
                <a class="dropdown-item btn-primary large-text" onclick="location.href=window.location.href  + '/settings'"> change visibility of event </a>
            </div>
        </div>

    </div>
    </div>
</div>
{% if request.user.is_authenticated %}
    {% if has_joined %}
        <button class="custom-btn btn-danger btn-primary btn-block display-3" onclick="location.href=window.location.href  + '/cancel_join'" type="button">
            REMOVE JOIN
        </button>
    {% else %}
        <button class="custom-btn btn-success btn-primary btn-block display-3" onclick="location.href=window.location.href  + '/join'" type="button">
            JOIN
        </button>
    {% include "accounts/partials/messages_partial.html" with messages=messages %}
    {% endif %}
{% endif %}


<div class="col-xs-12">
   <div class="row">
      <div class="col-xs-8"><div class="sharethis-inline-share-buttons" style="padding-top: 2%"></div></div>
      <div class="col-xs-4"><div class="sharethis-inline-reaction-buttons"></div>  </div>
   </div>
</div>
        

<p class="h2">
    {{event.description}}
</p>


<a class="btn btn-success h1 btn-lg" data-toggle="modal" href="#guestsModal"> List Guests</a>

<div class="modal hide" id="guestsModal">
    <form class="well" method="post">
        <div class="modal-header">
            <h3 class="h1">Guest list:</h3>
            <button type="button" class="close" data-dismiss="modal"> 
                <i class="fa-2x fas fa-times-circle"></i>
            </button>
        </div>
        <div class="modal-body">
            {% for guest in guests %}
                <div class="card usercard">
                    <div class="card-body">
                        <h3 class="card-title">
                            {{guest.username}}
                            {% if guest.first_name and guest.last_name %}
                                <div class=" text-muted">
                                    ({{ guest.first_name }} {{ guest.last_name }})
                                </div>
                            {% endif %}
                        </h3>
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>
</div>

{% if request.user.is_authenticated %}

<a class="btn btn-success h1 btn-lg" data-toggle="modal" href="#inviteModal"> Invite to event</a>

<div class="modal hide" id="inviteModal">
<form class="well" method="post">
    <div class="modal-header">
        <h3 class="h1">Invite to {{event.title}}:</h3>
        <button type="button" class="close" data-dismiss="modal"> 
            <i class="fa-2x fas fa-times-circle"></i>
        </button>
    </div>
    <div class="modal-body">
        <ul>
               <div class="card-columns">
                {% for user in users%}
                <div class="card-body">
                    <div class="card" style="text-align: center; padding: 5%;">
                        <img src="
                            {% if user.details.profile_picture %}
                              {{user.details.profile_picture.url}}
                            {% else%}
                              https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Default_profile_picture_%28male%29_on_Facebook.jpg/600px-Default_profile_picture_%28male%29_on_Facebook.jpg
                            {% endif %} " style="width:100%">
                        <h1> {{name}} </h1>
                        <h2> <i class="fa fa-user-circle" aria-hidden="true"></i> {{user.username}} </h2>
                        {% if user.details.birth_date %} 
                        <h2> <i class="fa fa-birthday-cake" aria-hidden="true"></i> Born in: {{user.details.birth_date}}  </h2>
                        {% endif %}
                        <h2> {{user.details.description}} </h2>
                        <button class="btn btn-success btn-lg btn-block"  onclick="location.href=window.location.origin + '/events/users/{{user.details.slug}}/{{event.slug}}/invite'" type="button" style="font-size: x-large;"> Invite </button>
                    </div>
                </div>
                {% endfor %}
                </div>
             </ul>
    </div>
</form>
</div>

<div class="comments-div">
    <div class="comments-div">
        <h1 class="display-3 center-text comments-header">
            Comments:  
            <a class="btn btn-success h1 btn-lg large-text add-comment-button" data-toggle="modal" href="#contactModal">
                Add comment
            </a>
        </h1>
        <div class="modal hide" id="contactModal">
        <form class="well" method="post">
          <div class="modal-header">
            <h3 class="h1">
                Add your comment:
            </h3>
            <button type="button" class="close" data-dismiss="modal"> 
                <i class="fa-2x fas fa-times-circle"></i>
            </button>
          </div>
          <div class="modal-body">
               {% csrf_token %}
               <h1> {{ form|crispy }} </h1>
               <script type="text/javascript">
                    var textarea = document.querySelector("textarea");

                    textarea.addEventListener("input", function(){
                        var maxlength = 500;
                        var currentLength = this.value.length;

                        if( currentLength >= maxlength ){
                            document.getElementById("remainingCount1").innerHTML = "You have reached the maximum number of characters.";
                        } else{
                            document.getElementById("remainingCount1").innerHTML = maxlength - currentLength + " chars left";
                        }

                    });
                </script> 
                <span id="remainingCount1">500 chars left </span>    

          </div>
          <div class="modal-footer">
                <input type="submit" class="btn btn-success btn-block " value="Submit">
          </div>
        </form>
        </div>
        {% endif %}
        {% for comment in comments %}
        <div class="card comments-card">
            <div class="card-body">
                <h3 class="card-title">{{ comment.title }} </h3>
                <h4 class="card-subtitle mb-2 text-muted"> 
                    Commented by {{ comment.author }} on {{ comment.created_at }} 
                </h4>
                <p class="card-text">{{ comment.content|safe }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<br> <br> <br> <br> 
{% endblock %}

