{% extends 'accounts/base.html' %}
{% load static %}

{% block title %} Invites {% endblock %}
{% block head %}
<link href="{% static "events/event.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<br>
<h1 class="h1" style="text-align: center;"> Invites: </h1>
{% if events%}
{% for event in events %}
    <div class="card comments-card">
        <div class="card-body">
            {% if event.event.cover_image%}
                <div class="row">
                    <div class="col-sm-4">
                        <h2 class="card-title" >
                            <a href = "/events/{{event.event.slug}}"> {{event.event}}  </a> 
                            <div class="blockquote-footer"> Invited by {{ event.invited_by }} </div>
                        </h2>
                        <h4> {{event.event.description}}</h4>
                    </div>
                    <div class="col-sm-8"><img src="{{event.event.cover_image.url}}" style="max-width: 100%;"></div>
                </div>
            {% else %}
                <h2 class="card-title" >
                    <a href = "/events/{{event.event.slug}}"> {{event.event}}  </a> 
                    <div class="blockquote-footer"> Invited by {{ event.invited_by }} </div>
                </h2>
                <h2> {{event.event.description}}</h2>
            {% endif%}
            <p class="card-text">{{ comment.content|safe }} </p>
            <button class="btn btn-success btn-lg btn-block"  onclick="location.href=window.location.origin + '/events/{{event.event.slug}}/confirm_invite'" type="button" style="font-size: x-large;margin: 0;"> Accept invitation </button>
            <button class="btn btn-danger btn-lg btn-block"  onclick="location.href=window.location.origin + '/events/{{event.event.slug}}/decline_invite'" type="button" style="font-size: x-large;"> Decline invitation </button>
        </div>
    </div>
    <br> <br> <br> <br>
{% endfor %}
{% else %}<br> <br>
    <h4  style="text-align: center"> It looks like you haven't been invited to any event yet.  <br>  <br> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/Gnome-face-sad.svg/1024px-Gnome-face-sad.svg.png" style="height: 30%;"></h4> 

{% endif %}

{% endblock %}

