{% extends 'accounts/base.html' %}

{% load static %}
{% load humanize %}

{% block title %} Events {% endblock %}

{% block head %}
<link href="{% static "events/list_event.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
<br>
<h1 class="h1 text-center"> My events: </h1>
<div class="row">
    {% for event in events%}
    <div class="card event col-lg-5" style="box-shadow: 20px 20px 10px grey;" >
        <div class="card-header" style="background-color: rgba(  156, 204, 101 ,0.321);">
            <h6 class="text-center">  Added {{ event.created_at|naturaltime  }} </h6>
        </div>
        <div class="card-body">
            {% if event.cover_image%}
                <img src="{{ event.cover_image.url }}">
            {% endif %}
            <h2 class="card-title"> <b> {{ event.title }} </b> </h2>
            <h6 class="card-text"> {{ event.description }} </h6>
            <a href="/events/{{event.slug}}" class="btn btn-primary btn-block btn-lg">
                <h6> Open full event </h6>
            </a>
        </div>
    </div>
    {% endfor %}
</div>

<br> <br><br> <br> <br> <br>
{% if events.has_other_pages %}
<ul class="pagination text-center justify-content-center">
    {% if events.has_previous %}
        <li class="page-item">
            <a href="?page={{ events.previous_page_number }}">
                <h2> &laquo;</h2>
            </a>
        </li>
    {% else %}
        <li class="disabled">
            <span>
                <h2> &laquo; </h2>
            </span>
        </li>
    {% endif %}
    {% for i in events.paginator.page_range %}
        {% if events.number == i %}
            <li class="active page-item">
                <span>
                    <h2> {{ i }} </h2>
                    <span class="sr-only">(current)</span>
                </span>
            </li>
        {% else %}
            <li class="page-item">
                <a href="?page={{ i }}">
                    <h2>{{ i }} </h2>
                </a>
            </li>
        {% endif %}
    {% endfor %}
    {% if events.has_next %}
        <li class="page-item">
            <a href="?page={{ events.next_page_number }}">
                <h2>&raquo;  </h2>
            </a>
        </li>
    {% else %}
        <li class="disabled page-item">
            <span>
                <h2> &raquo;  </h2>
            </span>
        </li>
    {% endif %}
</ul>
{% endif %}
<br> <br> <br> <br>
{% endblock %}

