{% extends 'accounts/base.html' %}

{% load static %}
{% load humanize %}

{% block title %} Events {% endblock %}

{% block head %}
<link href="{% static 'events/list_event.css' %}" rel="stylesheet">
<style type="text/css">
	@import url(https://fonts.googleapis.com/css?family=Montserrat);


	svg {
	    display: block;
	    font: 8em 'Montserrat';
	    width: 960px;
	    height: 200px;
	}

	@media only screen and (max-width: 600px) {
	  svg {
	      display: block;
	      font: 4em 'Montserrat';
	      width: 960px;
	      height: 200px;
	  }
	}

	.text-copy {
	    fill: none;
	    stroke: white;
	    stroke-dasharray: 6% 29%;
	    stroke-width: 5px;
	    stroke-dashoffset: 0%;
	    animation: stroke-offset 5.5s infinite linear;
	}

	.text-copy:nth-child(1){
		stroke: #4D163D;
		animation-delay: -1;
	}

	.text-copy:nth-child(2){
		stroke: #840037;
		animation-delay: -2s;
	}

	.text-copy:nth-child(3){
		stroke: #BD0034;
		animation-delay: -3s;
	}

	.text-copy:nth-child(4){
		stroke: #BD0034;
		animation-delay: -4s;
	}

	.text-copy:nth-child(5){
		stroke: #FDB731;
		animation-delay: -5s;
	}

	@keyframes stroke-offset{
		100% {stroke-dashoffset: -35%;}
	}
</style>
{% endblock %}
{% block content %}
<br>
{% if events > 0 %}
<div class="row">
<svg>
	<symbol id="s-text">
		<text text-anchor="middle" x="50%" y="60%">My events</text>
	</symbol>

	<g class = "g-ants">
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
	</g>
</svg>
</div>
{% endif %}
<div class="row">
	{% if events > 0 %}
	    {% for event in events%}
	    <div class="card event col-lg-5" style="box-shadow: 20px 20px 10px grey;" >
	        <div class="card-header" style="background-color: rgba(  156, 204, 101 ,0.321);">
	            <h6 class="text-center">  Added {{ event.created_at|naturaltime  }} </h6>
	        </div>
	        <div class="card-body">
	            {% if event.cover_image%}
	                <img src="{{ event.cover_image.url }}">
	            {% endif %}
	            <h2 class="card-title"> <b> {{ event.title }} </b> </h2>
	            <h6 class="card-text"> {{ event.description }} </h6>
	            <a href="/events/{{event.slug}}" class="btn btn-primary btn-block btn-lg">
	                <h6> Open full event </h6>
	            </a>
	        </div>
	    </div>
	    {% endfor %}
    {% else %}
    	<div class="col-12 text-center" style="padding-top: 100px;">
    	    <h1> You are not hosting any events yet. </h1>
    	    <br>
    	    <div style="text-align:center;">
    	    	<a href="/events/create_event/" class="animated zoomIn infinite slower">
    	    		<button type="button" class="btn btn-success ">
    	    			<h2>
    	    				Create event
    	    			</h2>
    	    		</button>
    	    	</a>
    	    </div>
    	</div>



    {% endif %}
</div>

<br> <br><br> <br> <br> <br>
{% if events.has_other_pages %}
<ul class="pagination text-center justify-content-center">
    {% if events.has_previous %}
        <li class="page-item">
            <a href="?page={{ events.previous_page_number }}">
                <h2> &laquo;</h2>
            </a>
        </li>
    {% else %}
        <li class="disabled">
            <span>
                <h2> &laquo; </h2>
            </span>
        </li>
    {% endif %}
    {% for i in events.paginator.page_range %}
        {% if events.number == i %}
            <li class="active page-item">
                <span>
                    <h2> {{ i }} </h2>
                    <span class="sr-only">(current)</span>
                </span>
            </li>
        {% else %}
            <li class="page-item">
                <a href="?page={{ i }}">
                    <h2>{{ i }} </h2>
                </a>
            </li>
        {% endif %}
    {% endfor %}
    {% if events.has_next %}
        <li class="page-item">
            <a href="?page={{ events.next_page_number }}">
                <h2>&raquo;  </h2>
            </a>
        </li>
    {% else %}
        <li class="disabled page-item">
            <span>
                <h2> &raquo;  </h2>
            </span>
        </li>
    {% endif %}
</ul>
{% endif %}
<br> <br> <br> <br>
{% endblock %}

