{% extends 'accounts/base.html' %}

{% load static %}
{% load humanize %}

{% block title %} Events {% endblock %}

{% block head %}
<link href="{% static "events/list_event.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'flags/sprite-hq.css' %}">

{% endblock %}
{% block content %}
<div class="row">
    {% if request.user.is_authenticated %}
    <br> <br>
    
    <a class="btn btn-success btn-lg btn-block" id="create_event" href="/events/create_event/" role="button">
        Create new event 
    </a>
    {% endif %}
    <br> <br>
    <div class="col-2 hidden-xs hidden-md">
        <div class="card">
            <h3 class="card-title" >Categories <a data-toggle="collapse" href="#collapseCategories" onclick="changeCollapeseIcon();"> <i class="fa fa-plus"  aria-hidden="true" id="collapse_icon"></i> </a> </h3>
            <ul class="list-group list-group-flush collapse" id="collapseCategories">
                {% for category in categories%}
                        <a href = "/categories/{{category.slug}} ">
                            <li class="list-group-item text-center"> {{category}} </li>
                        </a>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-10">
        {% for event in events%}
        <div class="card event col-5" style="box-shadow: 20px 20px 10px grey;" >
            <div class="card-header" style="background-color: rgba(  156, 204, 101 ,0.321);">
                <h3 class="text-center">  Added {{ event.created_at|naturaltime  }} </h3>
            </div>
            <div class="card-body">
                {% if event.cover_image%}
                    <img src="{{ event.cover_image.url }}">
                {% endif %}
                <h1 class="card-title"> <b> {{ event.title }} <i class="flag2x {{ event.country.flag_css }}"></i> </b> </h1>
                <h3 class="card-text"> {{ event.description }} </h3>
                <a href="/events/{{event.slug}}" class="btn btn-primary btn-block btn-lg">
                    <h3> Open full event </h3>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% if events.has_other_pages %}
<ul class="pagination text-center justify-content-center" style="margin-top: 100px;">
    {% if events.has_previous %}
        <li class="page-item">
            <a href="?page={{ events.previous_page_number }}">
                <h1> &laquo;</h1>
            </a>
        </li>
    {% else %}
        <li class="disabled">
            <span>
                <h1> &laquo; </h1>
            </span>
        </li>
    {% endif %}
    {% for i in events.paginator.page_range %}
    {% if events.number == i %}
        <li class="active page-item">
            <span>
                <h1> {{ i }} </h1>
                <span class="sr-only">(current)</span>
            </span>
        </li>
    {% else %}
        <li class="page-item">
            <a href="?page={{ i }}">
                <h1>{{ i }} </h1>
            </a>
        </li>
    {% endif %}
    {% endfor %}
    {% if events.has_next %}
        <li class="page-item">
            <a href="?page={{ events.next_page_number }}">
                <h1>&raquo;  </h1>
            </a>
        </li>
    {% else %}
        <li class="disabled page-item">
            <span>
                <h1> &raquo;  </h1>
            </span>
        </li>
    {% endif %}
</ul>
{% endif %}
<br> <br><br> 

<script type="text/javascript">
    function changeCollapeseIcon(){
        var element = document.getElementById("collapse_icon");
        if(element.classList.contains("fa-plus")){
            element.classList.add("fa-minus");
            element.classList.remove("fa-plus");
        }else{
            element.classList.remove("fa-minus");
            element.classList.add("fa-plus");
        }
    }
</script>

{% endblock %}

