{% extends 'accounts/base.html' %}

{% load static %}

{% block title %} Tasks {% endblock %}

{% block head %}
<link href="{% static 'events/event.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<br> <h1 class="text-center animated fadeInUp slow"> My tasks: </h1> <br>

{% if is_empty%}
	<h2 class="text-center animated fadeInUp slow">
		You have no assigned tasks yet.
	</h2>
{% else %}
<div class="row">
	<div class="col-sm-2"> </div>
	<div class="col-sm-4 bg-warning animated slideInUp">
		<br>
		<h2 class="heading text-center "> TO DO: </h2>
		<br>
		{% for task in todo_tickets %}
		<div class="card tickets">
			<div class="card-body">
				<h2 class="card-title"> {{task.title}}</h2>
				<h3 class="card-subtitle mb-2 text-muted"> event: {{task.event}} </h3>
				<h4 class="card-text">{{task.description}}</h4>
				<a href="/events/{{task.event.slug}}/board" class="card-link"> Go to event board </a>
			</div>
		</div>
		<br>
		{% endfor%}
	</div>
	<div class="col-sm-4 bg-primary animated slideInUp slow">
		<br>
		<h2 class="heading text-center"> DOING:  </h2>
		<br>
		{% for task in doing_tickets %}
		<div class="card">
			<div class="card-body">
				<h2 class="card-title"> {{task.title}}</h2>
				<h3 class="card-subtitle mb-2 text-muted"> event: {{task.event}} </h3>
				<h4 class="card-text">{{task.description}}</h4>
				<a href="/events/{{task.event.slug}}/board" class="card-link"> Go to event board </a>
			</div>
		</div>
		<br>
		{% endfor%}
	</div>
</div>
{% endif %}
<br> <br> <br> <br>
{% endblock %}
