{% extends 'accounts/base.html' %}
{% load static %}

{% block title %} {{event.title}} Search {% endblock %}
{% load crispy_forms_tags %}

{% block head %}
<link href="{% static 'events/search.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="input-group input-group-lg">
	<div class="input-group-prepend">
		<span class="input-group-text">Category</span>
	</div>
	<select class="custom-select md-3" id="categories">
		{% for category in categories %}
			<option value="{{category.pk}}">{{category}}</option>
		{% endfor %}
	</select>

	<input type="text" class="form-control" id="search_string" placeholder="Search here...">
</div>

<div class="search_progress">
</div>

<div class="events centered">
</div>

<br>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{% static 'scripts/search/search.js' %}"> </script>
{% endblock %}
