{% extends 'accounts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} {{event.title}} settings {% endblock %}

{% block head %}
<link href="{% static 'events/visibility.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<br>
<h2 class="h2"> {{event}} settings </h2>
<br>
<h3 class="h3">Visibility settings</h3>
<hr class="hr-success">

<form method="post">
    {% csrf_token %}
    <h4> {{ visibility_settings_form|crispy }} </h4>
    <button class="btn btn-primary" type="submit">
       <h6> Save Changes </h6>
    </button>
</form>
{% endblock %}
