h1{
	font-family: 'Staatliches', cursive;
	padding-top: 5%;
}

.btn{
	font-size:xx-large;
	border-radius: 20px;
}

.row{
	padding-top: 3%;
}

a{
	color:white;
	text-decoration: none;
}

.welcome{
	font-size: 400% !important;
}
