/*.card{
    width: 90% !important; 
    margin: 5%;
    padding: 5%;
}

.card-title{
    color: saddlebrown;
}

.background{
    background: #22c1c3; 
    background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3); 
    background: linear-gradient(to right, #fdbb2d, #22c1c3); 
}

.white-text{
    color: white;
}

.card-columns{
    padding-top: 3%;
}

.card{
    height: auto;
}

body{
	background-color: darkgrey;
}*/

/* demo shizzle only */
.category-card {
  max-width: 420px;
  margin: 30px auto;
  padding: 20px;
}

h1 { font-family: 'Enriqueta', arial, serif; font-weight: bold; } 

body{
    background-image: repeating-linear-gradient(165deg, #ccc, #ccc 60px, #dbdbdb 60px, #dbdbdb 120px);
}