h1 {
    font-family: 'Enriqueta', arial, serif;
    font-weight: bold;
}

body {
    background-image: repeating-linear-gradient(165deg, #ccc, #ccc 60px, #dbdbdb 60px, #dbdbdb 120px);
}

.category-card {
    width: 100%;
    max-width: 420px;
    margin: 30px auto;
    padding: 20px;
    width: 100%;
}


.description {
    color: #606f7b;
    font-size: .875rem;
    margin-bottom: 1rem;
    flex: 1 1 0%;
}

.content {
    padding: 1rem;
    flex-direction: column;
    display: flex;
    flex: 1 1 0%;
}

.box {
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
    background-color: #fff;
    border-radius: .5rem;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    display: flex;
    flex: 1 1 0%;
}

.list {
    margin: -.75rem;
    flex-wrap: wrap;
    display: flex;
}

.category_name {
    margin-bottom: 1rem;
}

