{% extends 'accounts/base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %} All users{% endblock %}

{% block head %}
<link href="{% static 'categories/all.css' %}" rel="stylesheet">
<link href="{% static 'accounts/show_account_details.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
<div class="bg-pan-left">
	<h1 class="h1  " style="font-size: xx-large;text-align: center;">  {{ title }} </h1>
	{% for row in users%}
	<div class="card-columns">
		{% for user in row%}
			<div class="card-body">
				<div class="card">
					<img src="
						{% if user.details.profile_picture %}
						  {{user.details.profile_picture.url}}
						{% else%}
						  https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Default-welcomer.png/643px-Default-welcomer.png
						{% endif %} ">
					<h1> {{name}} </h1>
					<h2> <i class="fa fa-user-circle" aria-hidden="true"></i> {{user.username}} </h2>
					{% if user.details.birth_date %}
					<h2> <i class="fa fa-birthday-cake" aria-hidden="true"></i> Born on: {{user.details.birth_date}}  </h2>
					{% endif %}
					<h2> {{user.details.description}} </h2>
					{% if user.unfriend_url %}
						<button class="btn btn-danger btn-lg btn-block"  onclick="location.href='{{user.unfriend_url}}'" type="button" style="font-size: x-large;"> Unfriend </button>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
	{% endfor %}

	{% if users.has_other_pages %}
	<ul class="pagination text-center justify-content-center" style="margin-top: 80px;">
		{% if users.has_previous %}

			<li class="page-item">
				<span class="page-link">
					<a href="?page={{ users.previous_page_number }}">
						Previous
					</a>
				</span>
			</li>
		{% else %}
			<li class="page-item disabled">
			  <span class="page-link">Previous</span>
			</li>
		{% endif %}


		{% for i in users.paginator.page_range %}
			{% if users.number == i %}
				<li class="active page-item">
					<span class="page-link">
						 {{ i }}
						<span class="sr-only">(current)</span>
					</span>
				</li>
			{% else %}
				<li class="page-item">
					<a href="?page={{ i }}" class="page-link">
						{{ i }}</h1>
					</a>
				</li>
			{% endif %}
		{% endfor %}
		{% if users.has_next %}
			<span class="page-link">
				<a href="?page={{ users.next_page_number }}">
					Next
				</a>
			</span>
		{% else %}
			<li class="page-item disabled">
			  <span class="page-link">Next</span>
			</li>
		{% endif %}
	</ul>
	{% endif %}
	<br> <br>
</div>
<br> <br>
{% endblock %}

