{% extends 'accounts/base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %} All users{% endblock %}

{% block head %}
<link href="{% static "categories/all.css" %}" rel="stylesheet">
<link href="{% static "accounts/show_account_details.css" %}" rel="stylesheet">

{% endblock %}

{% block content %}
<br>
<form method="get" style="width: 60%;margin: auto;">
    <h1> {{ filter.form|crispy }} </h1>
   <button type="submit" class="btn btn-primary btn-lg btn-block">Search</button>
 </form>
 <ul>
   <div class="card-columns">
    {% for user in filter.qs %}
    {{user}}
    <div class="card-body">
        <div class="card">
            <img src="
                {% if user.details.profile_picture %}
                  {{user.details.profile_picture.url}}
                {% else%}
                  https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Default_profile_picture_%28male%29_on_Facebook.jpg/600px-Default_profile_picture_%28male%29_on_Facebook.jpg
                {% endif %} ">
            <h1> {{name}} {{user}} </h1>
            <h2> <i class="fa fa-user-circle" aria-hidden="true"></i> {{user.username}} </h2>
            {% if user.details.birth_date %} 
            <h2> <i class="fa fa-birthday-cake" aria-hidden="true"></i> Born in: {{user.details.birth_date}}  </h2>
            {% endif %}
            <h2> {{user.details.description}} </h2>
        </div>
    </div>
    {% endfor %}
    </div>
 </ul>  
    <br> <br>
{% endblock %}

