
{% extends 'accounts/base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %} Friend requests {% endblock %}

{% block head %}
<link href="{% static 'categories/all.css' %}" rel="stylesheet">
<link href="{% static 'accounts/show_account_details.css' %}" rel="stylesheet">
<style type="text/css">
    @media only screen and (max-width: 600px) {
        .card {
            margin: 1%;
            margin-right: 10%;
            margin-left: 10%;
        }
    }
    .card {
        padding: 1%;
        margin: 1%;
        margin-left: 5%;
    }

    .card-title{
    	font-size: x-large;
    }

    .right{
    	float: right;
    }
</style>
{% endblock %}

{% block content %}
<br>
<h1 class="h1 centered"> Friend requests by: </h1>
    <div class="row">
	    {% for request in requests %}
	    <div class="card comments-card col-sm-3">
	        <div class="card-body">
	            <div class="row">
	                <div class="col-sm">
	                  <a href="/users/{{request.slug}}">  <h3 class="card-title" style="">{{request.sent_by}} </h3>  </a>
	                </div>
	                <div class="col-sm right">
	                    <a href = "/users/{{request.slug}}/accept" class="btn-lg btn btn-success"> Accept <i class="favicon fa fa-plus"> </i> </a>
	                    <a href = "/users/{{request.slug}}/decline" class="btn-lg btn btn-danger"> Decline <i class="favicon fa fa-minus"> </i> </a>
	                </div>
	            </div>
	        </div>
	    </div>
	    <br> <br> <br>
	    {% endfor %}
	</div>
{% endblock %}

