{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}
	No friends
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="horizontally_centered" style="padding-top: 100px;">
	<h1 class="text-center animated lightSpeedIn slow">
		You don't have any friend requests yet.
	</h1>

	<br> <br>

	<div style="text-align:center;">
		<a href="/friends/find" class="animated zoomIn infinite slower">
			<button type="button" class="btn btn-success ">
				<h2>
					Add friends
				</h2>
			</button>
		</a>
	</div>
</div>
{% endblock %}
