{% extends 'accounts/base.html' %}
{% block title %} Additional account info {% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
<link href="{% static "events/create_event.css" %}" rel="stylesheet">
<style type="text/css">
    textarea{
      width:100%;
    }
</style>
{% endblock %}

{% block content %}
<br> <br>



<div class="col-md-8  col-md-offset-2 centered" style="padding-bottom: 5%;">
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <h1> <b> Profile picture </b> </h1>
        <div class="upload-btn-wrapper">
          <button class="btn btn-block" id="cover_button"> Add profile picture</button>
          <h1> <input type="file" name="profile_picture" accept="image/*" id="id_profile_picture"> </h1>
          <img id="preview" src="" />
        </div>

        <h1> <b> {{ form.description.label }} </b> </h1>
        <h1> {{ form.description }} </h1>
        <h1> <b> Birthdate:</b> <br>
            <input type="date" id="birthdate" class="birthdate" name="birthdate" value="{{birthdate}}">
        </h1>
        <button class="btn btn-primary btn-lg btn-block" type="submit">
            <h1> Add info </h1>
        </button>
    </form>
</div>

<script type="text/javascript" src="{% static "scripts/preview_image.js"%}"></script>

{% endblock %}

