{% extends 'accounts/base.html' %}
{% block title %} Additional account info {% endblock %}
{% block content %}

<br> <br>

{% load crispy_forms_tags %}

<div class="col-md-8  col-md-offset-2 centered">
    <form method="post">
        {% csrf_token %}
        <h1> {{ form|crispy }} </h1>
        <h1>
            <input type="date" id="birthdate" class="birthdate" name="birthdate" value="{{birthdate}}">
        </h1>
        <button class="btn btn-primary btn-lg btn-block" type="submit">
            <h1> Add info </h1>
        </button>
    </form>
</div>
{% endblock %}

