{% load static %}

<DOCTYPE html>
<html>
    <head>
        <title> {% block title %} {% endblock %} </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
        <link href="{% static 'base/style/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'base/style/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'accounts/base.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

        <!-- JavaScript -->
        <script type="text/javascript" src="{% static 'base/scripts/jquery.slim.js' %}"></script>
        <script type="text/javascript" src="{% static 'base/scripts/popper.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'base/scripts/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'base/scripts/jquery.min.js' %}"></script>

        {% block head %} {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/home">
              <img src="{% static 'pictures/logo-eventmanager.png' %}" style="max-width: 150px;max-height: 150px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto navbar-right">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <h3> Users </h3>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/users"> <h3> All users </h3> </a>
                        <a class="dropdown-item" href="/friends/find"> <h3> Search users </h3> </a>
                        <a class="dropdown-item" href="/friends"> <h3> Friends </h3> </a>
                        <a class="dropdown-item" href="/friends/requests"> <h3> Friend requests </h3> </a>

                    </li>
                    {% endif %}

                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <h3> Events </h3>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/events/all/"> <h3> All events </h3> </a>
                        {% if request.user.is_authenticated %}
                            <a class="dropdown-item" href="/events/my_events/"> <h3> My events </h3> </a>
                            <a class="dropdown-item" href="/events/hosted/"> <h3> Events I host </h3> </a>
                            <a class="dropdown-item" href="/events/random/"> <h3> Show random event </h3> </a>
                            <a class="dropdown-item" href="/events/search/"> <h3> Search </h3> </a>
                            <a class="dropdown-item" href="/events/create_event/"> <h3> Create event </h3> </a>
                        {% endif %}
                    </li>

                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <h3> Categories </h3>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/categories/all"> <h3> All Categories </h3> </a>
                        <a class="dropdown-item" href="/categories/suggested"> <h3> Suggested Categories </h3> </a>
                        <a class="dropdown-item" href="/categories/suggest_category"> <h3> Suggest a category </h3> </a>
                    </li>

                    {% if request.user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link" href="/events/invites/">
                            <h3> Invites </h3>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/events/tasks/">
                            <h3> Tasks </h3>
                        </a>
                    </li>
                    {% endif %}

                    {% block navbar-left %}
                    {% endblock %}

                </ul>

                <ul class="navbar-nav  navbar-right">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown" style="padding-right: 4vw;">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <h3> Account info </h3>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/account_details"> <h3 style="font-size: x-large;"> Account details </h3> </a>
                        <a class="dropdown-item" href="/events/export/"> <h3 style="font-size: x-large;"> Export events</h3> </a>
                        <a class="dropdown-item" href="/change_password"> <h3 style="font-size: x-large;"> Change password </h3> </a>
                        <a class="dropdown-item" href="/change_email"> <h3 style="font-size: x-large;"> Change email </h3> </a>
                        <a class="dropdown-item" href="/delete"> <h3 style="font-size: x-large;"> Delete account </h3> </a>


                        {% block navbar-right %}
                        {% endblock %}

                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/signout">
                                <div class = "blue"> <h3 style="font-size: x-large;">  Sign out </h3> </div>
                            </a>
                        </div>
                    </li>
                    {% else %}
                        <a href="/login" class="login" style="color: white;text-decoration: none;">
                            <h3> Log in </h3>
                        </a>
                        {% endif %}
                    </a>
                </ul>
            </div>
        </nav>
        {% block content %}
        {% endblock %}

        <footer class="container-fluid text-center " style="padding-right: 0!important;padding-left: 0!important;">
            <h5 style="font-size: x-large;"> All rights reserved. </h5>
        </footer>
    </body>
</html>
