{% extends 'accounts/base.html' %}
{% load static %}
{% block title %} Delete account {% endblock %} 

{% block head %}
<link href="{% static "accounts/login.css" %}" rel="stylesheet">
<style type="text/css">
  body,.bar:before, .bar:after{
    background-color: rgba(255,10 ,10,0.7);
  }

  label, h4{
    color: rgba(255,10 ,10,0.7);
  }

  input{
    border-bottom: 1px solid rgba(255,10 ,10,0.7);
  }
</style>
{% endblock %}
   
{% block content %}
<br> <br>
<div class="col-md"> </div>
<div class="col-lg-4 col-lg-offset-4" style="background-color: white;padding: 5%;border: 4px solid black;  border-radius: 25px;">
   <form method="post">
      {% csrf_token %}
      {% if wrong_credentials == True %}
         <div class="alert alert-danger alert-dismissible" style="margin-bottom: 10%;">
            <h4> You entered wrong credentials. </h4>
         </div>
      {% endif%}
   
      <div class="group form-group">      
           <input type="text" class="form-field" required id="id_username" name="username">
           <span class="highlight"></span>
           <span class="bar"></span>
           <label>
            <h4>   
               <i class="fa fa-user-circle" aria-hidden="true"></i>
               Username: 
            </h4>
            </label>
         </div>
           
         <div class="group">      
           <input type="password" class="form-field" name="password" required id="id_password">
           <span class="highlight"></span>
           <span class="bar"></span>
           <label>
            <h4>   
               <i class="fa fa-key" aria-hidden="true"></i>
               Password: 
            </h4>
           </label>
         </div>
         <button class="btn btn-danger btn-lg btn-block" type="submit" >
            <h4 style="color: white"> Delete account </h4>
         </button>
         <br>
         <br>
      </form>
</div>
<div class="col-md"> </div>

{% endblock %}

