{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}  EventManager{% endblock %}

{% block head %}
<link href="{% static "accounts/home.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<h1 class="display-1 text-center">
    Welcome to EventManager, {{request.user}}!
</h1>
<div class="container">
    <div class="row">
        <div class="col-lg">
            <a href = "events/create_event/"> <button type="button" class="btn btn-block btn-success">Create event</button> </a> <br>
        </div>

        <div class="col-lg">
            <a href = "events/all/"> <button type="button" class="btn btn-block btn-primary"> Events</button> </a> <br>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <a href = "events/invites/"> <button type="button" class="btn btn-block btn-warning"> Invites </button> </a> <br>
        </div>

        <div class="col-lg">
            <a href = "events/tasks/"> <button type="button" class="btn btn-block btn-danger"> Tasks  </button> </a> <br>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <a href = "events/my_events/"> <button type="button" class="btn btn-block btn-dark"> My events </button> </a> <br>
        </div>

        <div class="col-lg">
            <a href = "categories/all"> <button type="button" class="btn btn-block btn-light">Browse categories</button> </a> <br>
        </div>
        
    </div>
</div>
{% endblock %}

