{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}  EventManager {% endblock %}

{% block head %}
<link href="{% static 'accounts/home.css' %}" rel="stylesheet">
<link href="{% static 'accounts/home_animation.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<h1 class="h1 text-center animated focus-in-expand welcome">
    Welcome to EventManager, {{request.user}}!
</h1>
<div class="container animated delay-1s focus-in-expand">
    <div class="row">
        <div class="col-lg">
            <a href = "events/create_event/" type="button" class="btn btn-block btn-success">
            	Create event
            </a>
            <br>
        </div>

        <div class="col-lg">
            <a href = "events/all/" type="button" class="btn btn-block btn-primary">
            	Events
            </a> <br>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <a href = "events/invites/" type="button" class="btn btn-block btn-warning">
            	Invites
            </a> <br>
        </div>

        <div class="col-lg">
            <a href = "events/tasks/" type="button" class="btn btn-block btn-danger">
            	Tasks
            </a> <br>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <a href = "events/my_events/" type="button" class="btn btn-block btn-dark">
            	My events
            </a> <br>
        </div>

        <div class="col-lg">
            <a href = "categories/all" type="button" class="btn btn-block btn-light">
            	Browse categories
            </a> <br>
        </div>
    </div>
</div>
<br> <br>
{% endblock %}
