{% load static %}
<DOCTYPE html>
<html>
    <head>
        <title> {% block title %} {% endblock %} </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">
        <link href="{% static "accounts/base.css" %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5bffb3800624ce0011ee8698&product=inline-share-buttons' async='async'></script>
        <link href="{% static "accounts/index.css" %}" rel="stylesheet">
    </head>
    <body>
        <div class="MainContainer">
            <div class="ParallaxContainer" >
                <h1 class="title">
                    Welcome to  
                </h1>
                <img src="{% static "pictures/logo-eventmanager.png" %}" style="max-height: 12%;margin-left: 1%;">
            </div>
            <div class="ContentContainer">
                <div class="Content">
                    <div class="row">
                        <div class="col-md-5">
                            <a href="signup" class="register-now">Register Now</a>
                        </div>
                        <div class="col-md-2 text-center"><a href="#" class="or-button">or</a></div>
                        <div class="col-md-5">
                            <a href="events/all/" class="browse-button">Browse our events</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto text-center">
                            <blockquote>
                                “Discovery is seeing what everybody else has seen, and thinking what nobody else has thought.”
                                <footer>-Dr. Albert Szent-Gyorgyi</footer>
                            </blockquote>
                        </div>
                    </div>
                    <div class="section section-about-us">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto text-center">
                                    <h1 class="title" style="color: black;">What are we all about?</h1>
                                    <h2 class="description"> EventManager is the newest social network. Combining event attendees and creators's needs, EventManager gives everyone the possiblitiy to be part of a better event experience. </h2>
                                </div>
                            </div>
                            <div class="separator separator-primary"></div>
                            <div class="section-story-overview">
                                <div class="row">
                                    <div class="col-md">
                                        <div class="image-container image-left" style="background-image: url('{% static "pictures/event_board.jpeg" %}')">
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="image-container image-right" style="background-image: url('{% static "pictures/event.jpeg" %}')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"> </div>
                <div class="col-md-6">
                    <h1> <img src="{% static "pictures/logo-eventmanager.jpg" %}" style="max-height: 100px;"> What makes us different?  </h1>
                    <h2 class="description"> Ever since the idea for EventManager came to light, there was one thing that was destined to be different - EventManager is not about money like most other social networks, we are different, we are about the connection between people, about the teamwork, about the fun in every single event no matter how serious it is and about having a very strict and planned to every detail event so that every single event that is organaized using EventManager is close to perfection.</h2>
                </div>
                <div class="col-md-3"> </div>
            </div>
            <div class="section section-features text-center">
                <div class="container">
                    <h1>Here are our top features: </h1>
                    <br>
                    <div class="features">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="features-element">
                                    <img src="https://svgsilh.com/svg/2818034.svg" alt="Thumbnail Image Freedom" class="rounded-circle img-fluid img-raised">
                                    <h2>  Freedom</h2>
                                    <h3 class="description">Everyone can create new events, free of charge and censurship.</h3>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="features-element">
                                    <img src="{% static "pictures/logo-eventmanager.jpg" %}" alt="Thumbnail Image Socialize" class="rounded-circle img-fluid img-raised">
                                    <h2>  Socialize</h2>
                                    <h3 class="description">  Find events you may be interested in easily. </h3>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="features-element">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Manage-settings.svg/2000px-Manage-settings.svg.png" alt="Thumbnail Image Manage" class="rounded-circle img-fluid img-raised">
                                    <h2>  Manage</h2>
                                    <h3 class="description">All event tasks are in one place. No more complicated tools needed. </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        <footer class="container-fluid text-center ">
            <h5 style="font-size: x-large;"> All rights reserved. </h5>
        </footer>
    </body>
</html>

