{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}  EventManager{% endblock %}

{% block head %}
<link href="{% static "accounts/index.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <img src = "https://lh3.googleusercontent.com/9xETDEtx4stABvhboCOrEQXwdlvi0nW1WZbce6VYvIK8grK-ndxPFaEj8QpeDWa6XDHUa6KtWJ32jO4mtNkA9SHvy5litV2HfkLLaTfieqe0PqFA2HQAp5agkCnJoVS7lx4hav9QDADRDri5YA2tP3BKtl55oLxA0xuAHKeNs3B0rRacntVVlRnwq2BJkV_eto0DIX1F8nxODMhBBOqyToQS-ffhn7k4mnMQhNul2aabY7xcrR_rW4f9AkR0jxChzkqWKNIc5Mdtj_q9mW3oPV2-annh3QNOpUSGmrb0l3SwmGwhVe10xH-GMq68CxV-e6yx_ykcHBmQKUA3zOVHXxuyjIuqen-1Ee6289iz9ewHfMiguwlL-z00jInuHChsc-YKF0YdK5I7_M20v4QeYq6WFtxgR8tcbKH0q1LvkeuyV7CGdKyBnl3OkvsySv52SYKYQS583RePN_Kw6t1nZDJbvRKpDNqvY0ScNR3v2xbR7PrFXgV-Y4pc7Lq2p2VPH1WqgOhSihjfcVOPR6yihN1R1Qleuu65sb6iV9jSV1heOnE0F1ead0k_UCIjT9FWmpmWnnjEs_6L4rF8Vm5N1LH8fJKQtwKD3JjejrHVEKll81UJXWayQzLGm6S9YgR4ByZBi_PPleb-ukKpSlFixYGym2RbMJgBP9ffMHuD6Frqkp4LZLr7bkQsrjS1dRtuyxEyl3KrFyPYuKTSGNg=w1849-h804-no" id="event-cover-photo">      
        <div class="content">
            <h1> EventManager </h1> 
        <p>Event Manager is the social network for your needs! </p>
      </div>
      
    </div>

{% endblock %}

