{% extends 'accounts/base.html' %}

{% load static %}

{% block title %} Account Details {% endblock %}
{% block head %}
<link href="{% static "accounts/show_account_details.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="col-md-4 col-md-offset-4 centered class-div">
    {% include "accounts/partials/account_partial.html" with name=name username=username email=email details=details %}
    <a href= "/edit_account" class="btn btn-success btn-lg btn-block" type="submit">
        <h1> Edit account </h1><br> <br>
    </a>
   	<br> <br>
</div>
{% endblock %}

