{% extends 'accounts/base.html' %}
{% load static %}
{% block title %} Account Details {% endblock %}

{% block head %}
<link href="{% static "accounts/show_account_details.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="col-md-4 md-offset-4 centered class-div">
   {% include "accounts/partials/account_partial.html" with name=name username=username email=email details=details %}
   <a href= "/edit_account" class="btn btn-success btn-block" type="submit">
      <h4> Edit account </h4>
   </a>
   <br> <br>  <br> <br>  <br> <br>
</div>
{% endblock %}

