{% extends 'accounts/base.html' %}
{% load static %}
{% block title %} Register {% endblock %} 

{% block head %}
<link href="{% static "accounts/login.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<br><div class="sign_up">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger alert-dismissible">
                {{ error }} 
            </div>
            {% endfor %}
            <h3>  
                {% if "_name" in field.name %}
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                {% endif %}
                {% if "username" in field.name %}
                <i class="fa fa-user" aria-hidden="true"></i>
                {% endif %}
                {% if "password" in field.name %}
                <i class="fa fa-key" aria-hidden="true"></i>
                {% endif %}
                {% if "mail" in field.name %}
                <i class="fa fa-envelope" aria-hidden="true"></i>
                {% endif %}
                {{ field.label_tag }} 
            </h3>
            <h3>
                {{ field }} 
            </h3>
            <br>
            {% endfor %}
            <h3>   
                <a href="/login">
                Already have account? Login here. <br> 
                </a>
            </h3>
            <button class="btn btn-primary btn-lg"  type="submit">
                <h3> Sign up </h3>

            </button>
   </form>
</div>
<div class="col-md"> </div>
{% endblock %}