{% extends 'accounts/base.html' %}

{% load static %}

{% block title %} Account Details {% endblock %}
{% block head %}
<link href="{% static "accounts/show_account_details.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

<br> <br>

<div class="col-md-4 col-md-offset-4 centered class-div">
    {% include "accounts/partials/account_partial.html" with name=name username=username email=email details=details %}

    {% if not friends %}
    <button class="btn btn-success btn-lg btn-block" onclick="location.href=window.location.href  + '/friend'" type="button" style="font-size: x-large;"> Friend </button>
   	{% endif %}

   	 {% if friends%}
   	 <button class="btn btn-danger btn-lg btn-block" onclick="location.href=window.location.href  + '/unfriend'" type="button" style="font-size: x-large;"> Unfriend </button>
   	{% endif %}
</div>
{% endblock %}

