 <div class="col-md-12 centered">
    <ul>
        <div class="card-columns">
        {% for user in users%}
        <div class="card-body">
            <div class="card">
                <img src="
                    {% if user.details.profile_picture %}
                      {{user.details.profile_picture.url}}
                    {% else%}
                      https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Default_profile_picture_%28male%29_on_Facebook.jpg/600px-Default_profile_picture_%28male%29_on_Facebook.jpg
                    {% endif %} ">
                <h1> {{name}} </h1>
                <h2> <i class="fa fa-user-circle" aria-hidden="true"></i> {{user.username}} </h2>
                {% if user.details.birth_date %} 
                <h2> <i class="fa fa-birthday-cake" aria-hidden="true"></i> Born in: {{user.details.birth_date}}  </h2>
                {% endif %}
                <h2> {{user.details.description}} </h2>

                {% if friend_user is True %} 
                    {% if not user.my_friend and user.details %}
                        <button class="btn btn-success btn-lg btn-block"  onclick="location.href=window.location.origin + '/users/{{user.details.slug}}/friend'" type="button" style="font-size: x-large;"> Friend </button>
                    {% elif user.my_friend %}
                        <button class="btn btn-danger btn-lg btn-block"  onclick="location.href=window.location.origin + '/users/{{user.details.slug}}/unfriend'" type="button" style="font-size: x-large;"> Unfriend </button>
                    {% endif %}
                {% endif %}
                {% if add_to_team is True %} 
                    <button class="btn btn-danger btn-lg btn-block"  onclick="location.href=window.location.origin + '/events/{{user.details.slug}}/{{event.slug}}/add_teammate'" type="button" style="font-size: x-large;"> Add to team </button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        </div>
    </ul>
</div>