{% extends 'accounts/base.html' %}

{% load static %}
{% block title %} Success! {% endblock %}

{% block head %}
<link href="{% static 'events/successfully.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div style="background-color: rgba(200,240,240,0.4);">
<div class="container d-flex horizontally_centered" >
    <div class="jumbotron my-auto container" >
        <h1 class="h1"> Success! </h1>
        <p class="lead h2"> You have successfully {{ success_message }}</p>
        <hr class="my-4">

        {% if exclude_button is not True %}
        <a class="btn btn-success btn-lg h2" href="/events/all/" role="button" id="button">
            <h2 > Browse other events </h2>
        </a>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}

