{% extends 'accounts/base.html' %}
{% load static %}

{% block title %} Success! {% endblock %}

{% block head %}
<link href="{% static "events/successfully.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container h-100 d-flex" >
    <div class="jumbotron my-auto" >
        <h1 class="display-3"> Success! </h1>
        <p class="lead h2"> You have successfully {{ success_message }}</p>
        <hr class="my-4">
        <a class="btn btn-success btn-lg h2" href="/events/all/" role="button">
            <h2> Keep browsing other events </h2>
        </a>
    </div>
</div>

{% endblock %}

