{% extends 'accounts/base.html' %}

{% load static %}
{% block title %} Success! {% endblock %}

{% block head %}
<link href="{% static 'events/successfully.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div style="background-color: rgba(200,240,240,0.4);">
<div class="container h-100 d-flex" >
    <div class="jumbotron my-auto" >
        <h1 class=" "> Success! </h1>
        <p class="lead h2"> You have successfully {{ success_message }}</p>
        <hr class="my-4">
        <a class="btn btn-success btn-lg h2" href="/events/all/" role="button" style="padding-left: 3%;padding-right: 3%;">
            <h2 > Browse other events </h2>
        </a>
    </div>
</div>
</div>
{% endblock %}

